<div class="content">
<ul>
    <li class="typeli" *ngFor="let department of departments">
        <img src="/assets/img/xsb.png" alt="">
        <h3>{{department.name}}
            <span [ngSwitch]="department.superiors">
                <span *ngSwitchCase="null">(无上级部门)</span>
                <span *ngSwitchDefault>({{department.superiors_name}})</span>
            </span>
        </h3>
        <p>人数：{{department.staff_number}}</p>
        <span class="Dmanager" [ngSwitch]="department.manager">
            <span *ngSwitchCase="null">暂未确定</span>
            <span *ngSwitchDefault>{{department.manager_name}}</span>
        </span>
        <div class="bottom">
            <a class="edit" (click)="gotodetail(department.pk)">编辑</a>
            <a href="">员工详情</a>
        </div>
        <i class="iconfont">&#xe625;</i>
    </li>
    <!-- 布局需要，不要删掉，也不要添加数据 -->
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>				
</ul>
</div>