<!-- 人员详情 -->
<div action="#" class="newperson" style="display:block">
    <div class="up">
        <img src="/app/static/img/mr.png" alt="">
    </div>
    <div class="down">
        <div class="left">
            <div>	
                <label for="name">姓名：</label>
                <div class="group">
                小明
                </div>
            </div>
            <div>
                <label for="phone" class="phone">手机号码：</label>
                <div class="group">
                17889888988
                </div>
            </div>

            <div>
                <label for="email">邮箱：</label>
                <div class="group">
                1564641@qq.com
                </div>

            </div>

            <div>
                <label for="office">职位：</label>
                <div class="group">
                    跑腿
                </div>
                
            </div>

            <div>
                <label for="department">部门：</label>
                <div class="group">
                    销售部
                </div>
            </div>

            <div>
                <label for="manager" class="manager">部门经理：</label>	
                <div class="group">
                    邓刚
                </div>
            </div>
        </div>
        <div class="right">
            <span>地址：</span>
            海口市
            <div class="group">
                海南省
            </div>
            <span class="detail">详细地址：</span>
            <p>
                啊顺利打开立刻就飞哦了解哦临时搭建
            </p>
        </div>
    </div>
    <div class="bottom">
        <a href="#">编辑</a>
    </div>
</div>
