{% extends "blog/base.html" %}
{% load staticfiles %}
{% block head_title %}{{ article.title }}{% endblock head_title %}

{% block header %}
		<div class="blog-post-header">
			<div class="w-container">
				<div class="post-info-wrapper">
					<a class="post-info when-link" href="{% url 'article-list' %}">返回列表</a>
				</div>
				<h1 class="blog-page-title">{{ article.title }}</h1>
				<div class="post-info-wrapper">
					<div class="post-info">{{ article.updated|date:"Y-m-d H:i:s" }}</div>
					<div class="post-info">|</div>
					<span class="post-info">{{ article.author.nickname }}</span>
				</div>
			</div>
		</div>
{% endblock %}
{% block content %}
	<div class="content-wrapper">
		<div class="w-container">
			<div class="blog-body-wrapper">
				<div class="body-copy w-richtext">
				{{ article.content|safe }}
				</div>
			</div>
			<div class="button-wrapper">
				<a class="button w-button" href="{% url 'article-list' %}">返回文章列表</a>
			</div>
		</div>
	</div>
{% endblock content %}