@charset "UTF-8";

/* 基本css */
* {
	box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}



p {
	margin: 0;
}

html {
	margin: 0;
	height: 100%;
}

body {
	margin:0;
	color: #333;
    font-size: 13px;
    line-height: 1.42857;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
	min-width: 500px;
	height: 100%;
	margin:0 auto;
	

}

a:focus {
	outline: none;
}
a:hover {
	
	text-decoration: none;
}

a {
	text-decoration:none;
	outline-style:none;
	color: #444; 
	border:0;
}

p {
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight:normal
}

ul {
	padding-left: 0;
	margin:0;
	
}

ul li {
	list-style-type:none;
}


/* 顶部导航 */
nav {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	z-index: 1000;
	position: relative;
	display: block;
	height: 34px;
	background-color: #222;
    border:1px solid #080808;
	
}

nav ul li {
	display: inline-block;
	line-height: 32px;
	

}

nav ul {
	margin-left: 15px;
	

}

nav ul .activity a{
	background-color: #000;
	color: #fff;

}

nav ul li a {
	display: inline-block;
	background-color:transparent;	
	color:rgb(157,157,157);
	width: 42px;
	text-align: center;

}

nav ul li a:hover {
	color: #fff;
}

nav .nav-left {
	position: absolute;
	top:5px;
	right:20px;
	color: rgb(157,157,157);
	cursor:pointer;
}

nav .nav-left > span:hover {
	color: #fff;
}

nav .nav-left .iconfont {
	margin-left: 15px;
	font-size: 17px;
}

nav .nav-left .user-div {
	display: inline-block;
}

nav .nav-left .user-div:hover {
	color: #fff;
}

nav .nav-left .user-div .triangle {
	margin-left: 0;
	font-size: 9px;
}

.main {
	display: flex;
	background: #f0eeee none repeat scroll 0 0;
	height: calc(100% - 34px);
}


/**解决滚动条  **/
.main .main-right > * {		
	display: flex;		
 	flex-direction: column;		
 	height: 100%;		
 	width: 100%;		
 }		
 		
 .main .main-right > * > * {		
 	-moz-box-flex: 1;		
 	flex: 1 1 auto;		
 	overflow: auto;		
 	position: relative;		
 	display: block;		
 		
 }		
 .main .main-right router-outlet{		
 	display:none;		
 }


/*--------------------------------------------------------------------------------------------------------*/
/* 左边 布局*/
.main .main-left {
    background: #f0eeee none repeat scroll 0 0;
    border-right: 1px solid #afafb6;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 220px;
}

.main .main-left h1 {
	text-align: center;
	font-size: 60px;
	line-height: 106px;
	color: #888;
	font-weight: bold;
	text-shadow: 2px 2px 4px #ccc;

}

.main .main-left .list {
	flex-grow: 1;
	overflow-y: auto;
}

.main .main-left .list .ultitle {
	color: #7c7bad;
    font-weight: bold;
    margin-left: 8px;
  
}

.main .main-left .list ul{
	line-height: 1.1em;
    margin-bottom: 10px !important;
    margin-top: 3px;
    margin:3px 0 10px 0;
}

.main .main-left .list ul li a {
	display: block;
	color: #4c4c4c;
    padding: 8px 4px 5px 18px;
    margin-bottom: 2px;
}
.main .main-left .list ul .active a{
	background-color: #7c7bad;
	color: #fff;

}

.main .main-left .footer {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	line-height: 19px;
	text-align: center;
	height: 19px;
	width: 219px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* 右边 布局*/
.main .main-right {
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main .main-right .title {
	-moz-box-flex: 0;
    background-color: #f0eeee;
    border-bottom: 1px solid #afafb6;
    flex: 0 0 auto;
    height: 88px;
}

.main .main-right .title .new {
	display: inline-block;
	padding:5px 10px;
	color: #fff;
	background-color: #337ab7;
	margin-left: 10px;
	border-radius: 3px;
	margin-left: 15px;
	margin-top:1px;
	cursor:pointer;
}
.main .main-right .title .action {
	display: inline-block;
	padding: 5px 12px;
	margin-left:10px;
	border:1px solid #ccc;
	background-color:#fff;
	border-radius: 4px;
	cursor: pointer;
}

.main .main-right .title .action i {
	font-size: 12px;
	margin-left: 5px;
	color: #666;
}

.main .main-right .title .left {
	width: 49%;
	display: inline-block;
	line-height: 48px;
	font-size: 18px;
	padding-left: 15px;
	color: #777;
}

.main .main-right .title .right {
	width: 49%;
	position: relative;
	display: inline-block;
}

.main .main-right .title .right input {
	width: 100%;
	border:1px solid #ccc;
	border-radius: 3px;
	height: 28px;
	padding-left: 30px;

}

.main .main-right .title .right span {
	position: absolute;
	display: inline-block;
	left:8px;
	top: 4px;
	cursor:pointer;
}
.main .main-right .content {
	-moz-box-flex: 1;
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
	
}
.main .main-right .bg {
	background: url('../img/bg.png');
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*部门+块状布局 */
.main .main-right .content > ul {
	flex-flow: row wrap;
	display:flex;
	justify-content:flex-start;
	padding: 4px 12px;
	
}

.main .main-right .content > ul li {
	flex: 1 1 300px;
 	position: relative;
 	margin:4px;
 	
}

.main .main-right .content > ul .typeli {
	background-color: #fff;
    box-shadow: 0 0 1px 1px #6f6f6f;
    min-width:150px;
 	height: 90px;
 	
}


.main .main-right .content > ul .typeli i{
	cursor: pointer;
	font-size: 10px;
	position: absolute;
	right: 5px;
	top:5px;
	
	padding: 2px 5px;
	border-radius: 5px;
	color: #666;

}


.main .main-right .content > ul .look {
	width: 0;
	height: 0;
}


.main .main-right .content > ul li img{
   height: 80%;
   display: inline-block;
   margin: 8px;
} 

.main .main-right .content > ul li h3 {
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	font-weight: bold;
}
.main .main-right .content > ul li h3 span {
	font-size: 12px;
	color: #666;
	
}

.main .main-right .content > ul li p{
	display: inline-block;
	position: absolute;
	left: 90px;
	top: 35px;
	color: #666;

}

.main .main-right .content > ul li .Dmanager{
	display: inline-block;
	position: absolute;
	left: 90px;
	top: 57px;
	color: #666;
}



.main .main-right .content > ul li .bottom {
	position: absolute;
	right: 10px;
	bottom: 5px;

}

.main .main-right .content > ul li .bottom a {
	display: inline-block;
	padding:5px 10px;
	color: #fff;
	background-color: #337ab7;
	margin-left: 10px;
	border-radius: 3px;
}

/*--------------------------------------------------------------------------------------------------------------*/

/* 右边列表 */
.main .main-right .content  table {
	background-color: #fff;
	width: 100%;
    border-spacing: 0;
    box-shadow: 0 1px 1px #ccc;   
    border-bottom: 1px solid #ccc;
    color: #4c4c4c;
    font-size: 13px;
}

.main .main-right .content  table  tr {
	cursor: pointer;
}

.main .main-right .content > ul li .bottom .edit {
 	cursor: pointer;
}
  

.main .main-right .content > table  tr:nth-child(odd) {
	background-color: #efeff8;
}
.main .main-right .content  table  td{
    padding: 10px;
    text-align: left;    
}

.main .main-right .content  table  th {
	padding: 10px;
	text-align: left;
	border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.main .main-right .content  table  th {
    background-color: #f0eeee;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5); 
}


.main .main-right .content > table  td:first-child, .main .main-right .content > table  th:first-child {
    border-right: none;
    background-color: transparent;
    width: 1px;
    
}

.main .main-right .content > table thead th:first-child{
	background-color: #f0eeee;;

}

.main .main-right .content > table tbody th:first-child {
	border-bottom: none;
}
.main .main-right .content > table  tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}  


/*---------------------------------------------------------------------------------------------------------------*/

/*表单布局*/

.main .main-right .content .purchase-order {
	/*max-width: 888px;*/
	margin:20px auto;
	border:1px solid #ccc;
	background-color:#fff;
	border-radius: 4px;
	padding: 20px;
	position: relative;
	font-size: 14px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.main .main-right .content .purchase-order textarea {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left:5px;
	
}



.main .main-right .content .purchase-order .order-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}


.main .main-right .content .purchase-order .order-title{
	
	border-bottom: 1px solid #ccc;
}

.main .main-right .content .purchase-order .order-form {
	display: flex;
	flex-direction:row;
	padding:20px 0;
	font-weight: bold;
	border-bottom:1px solid #ccc;

}

.main .main-right .content .purchase-order .order-form .group {
	position: relative;
	width: 55%;
}

.main .main-right .content .purchase-order .order-form .group i {
	position: absolute;
	right:6px;
	top:2px;
	font-size: 10px;

}



.main .main-right .content .purchase-order .order-form input,.main .main-right .content .purchase-order .order-form select {
	
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 25px;
	padding-left:5px;
	width: 100%;
	
}



.main .main-right .content .purchase-order .order-form .left {
	width: 50%;
	border-right: 1px solid #ccc;
	padding-right: 20px;
	
}

.main .main-right .content .purchase-order .order-form .right{
	padding-left: 20px;
	width: 50%;

}
.main .main-right .content .purchase-order .order-form .left > div,.main .main-right .content .purchase-order .order-form .right > div{
	line-height: 40px;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;

}

.main .main-right .content .purchase-order .order-bottom {

	display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	margin-top: 20px;
	align-items:flex-end;
	justify-content:space-between;
}


.main .main-right .content .purchase-order .order-bottom input {
	display: block;
	height: 30px;
	width: 50px;
	background-color: #337ab7;
	border:1px solid #2d6da3;
	border-radius: 3px;
	color: #fff;
}

/*地址*/
.main .main-right .content .purchase-order .order-form .right .address {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items:center;
	
}

.main .main-right .content .purchase-order .order-form .address input {
	width: 20%;
	margin-left:10px;
}



.main .main-right .content .purchase-order .order-form .right .textarea{
	align-items: flex-start;
}



/*------------------------------------------------------------------------------------------------------------------------*/

/*员工*/
.main .main-right .content .purchase-order .order-form .right .detail {
	display: block;
	line-height: 40px;
}
.main .main-right .content .purchase-order .order-title img {
	max-width: 90px;
	max-height: 90px;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	border:none;
}

.main .main-right .content .purchase-order .order-title a {
	border:1px solid #204d73;
	padding: 5px 10px;
	border-radius: 3px;
	position: absolute;
	top:80px;
	left:130px;
	background-color: #337ab7;
	color: #fff;
	line-height: 1.5;
	
}

.main .main-right .content .purchase-order .left > div p{
	width: 50%;
	text-align: left;
	font-weight: 400;
}
.main .main-right .content .purchase-order .right > p{

	font-weight: 400;
}

.main .main-right .content .purchase-order .order-bottom > a{
    padding:5px 10px;
    background-color: #337ab7;
    border: 1px solid #2d6da3;
    border-radius: 3px;
    color: #fff;
}




/*------------------------------------------------------------------------------------------------------------------------*/

/*财务：经营报表的列表*/
.main .main-right .content .purchase-order .goods-list table tbody tr td{
	border-bottom: 1px solid #ccc
}


.main .main-right .content table thead th:last-child{
	border-right:none;

}

/*财务：经营报表右侧底部统计*/
.main .main-right .content .purchase-order .order-bottom table {
	width: 258px;
	border: none;
	box-shadow: none;
	
}
.main .main-right .content .purchase-order .order-bottom table td {
	height: 22px;
	padding:0;
	text-align: right;
	padding-bottom: 5px;
}

.main .main-right .content .purchase-order .order-bottom table td span {
	font-weight: bold;
	font-size: 16px;
}
.main .main-right .content .purchase-order .order-bottom table .last td {
	border-top: 1px solid #ccc;
	padding:10px 0;
}


/*下拉选择*/
.main .main-right .content .purchase-order .goods-list .updown {
	border:1px solid #aaa;
	position: relative;
	top:-10px;
	left:10px;
	background-color: #fff;
	width: 80%;
}

.main .main-right .content .purchase-order .goods-list .updown table {
	
}
/*---------------------------------------------------------------------------------------------------------------------*/


/*销售模块*/
.main .main-right .content .purchase-order .order-form textarea {
	border: 1px solid #ccc;
	margin-top:10px;
	width: 100%;
	
}




.main .main-right .content .purchase-order .order-form textarea {
	border: 1px solid #ccc;
	margin-top:10px;
	width: 100%;
	
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*经营模块*/
/*business为经营模块的首页*/
.main .main-right .content .business {
	max-width: 500px;
}

.main .main-right .content .business ul li{
	
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
}

.main .main-right .content .business ul li .btitle {
	font-weight: bold;
}

.main .main-right .content .business  ul li .bcontent label{
	font-weight: bold;

}
.main .main-right .content .business  ul li .bcontent .btn {
	border:1px solid #2d6da3;
	border-radius: 3px;
	padding: 4px 8px;
	color: #fff;
    background-color: #337ab7;
   	cursor: pointer;

}
.main .main-right .content .business  ul li .bcontent .center{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 25px;
	padding-left:5px;
	margin:0 30px;
}

.main .main-right .content .purchase-order .order-form .left > p {
	margin-top:10px;
}

/*a为年月经营报表链接到详情页*/
.main .main-right .content .purchase-order > a {
	display: block;
	width: 200px;
	border:1px solid #ccc;
	line-height: 35px;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
	border-radius: 4px;
	border:1px solid #2d6da3;
	color: #fff;
    background-color: #337ab7;
}

/*ul为月经营报表最底部的统计*/
.main .main-right .content .purchase-order .order-bottom > ul {
	width: 50%;
	
}

.main .main-right .content .purchase-order .order-bottom > ul li{
	line-height: 25px;
	font-weight: bold;
	
}
.main .main-right .content .purchase-order .order-bottom > ul li span {
	display: inline-block;
	width:117px;
	margin-right: 10px;
}

/*年经营详细报表*/
.main .main-right .content .purchase-order > ul li p{
	font-weight: bold;
	line-height: 35px;
}

.main .main-right .content .purchase-order > ul li .m-profit {
	text-align: right;
	margin-top: 10px;
	font-size: 18px;
}

.main .main-right .content .purchase-order > ul .y-profit {
	font-weight: bold;
	line-height: 35px;
	font-size: 18px;
}


/*------------------------------------------------------*/

/*零售*/

 .retailul{
	display: flex;
	justify-content:center;
	padding: 50px 20px;
	border-bottom: 1px solid #ccc;
	
}

 .retailul label {
	font-weight: bold;
	margin-right: 10px;
	width: 100px;
}

 .retailul .ok {
	background-color: #2d6da3;
	color: #fff;
	border:1px solid  #2d6da3;
	padding: 0 10px;
}


 .retailul input{
	margin-right: 20px;
	border-radius: 2px;
	border:1px solid #ccc;
	padding-left: 5px;
	height: 30px;
}

.main .main-right .content .retail .table {
	height: 444px;
	overflow: auto;
}


.main .main-right .content .retail table tr td{
	border-bottom: 1px solid #ccc;
}



.main .main-right .content .retail-total {
	position:fixed; 
	bottom: 0;
	display: flex;
	width: 100%;
	padding:30px 0;
	justify-content:center;
	background: #f0eeee none repeat scroll 0 0;
}

.main .main-right .content .retail-total > div{
	width: 50%;
	display: flex;
	justify-content:center;

}
.main .main-right .content .retail-total > div label{
	font-weight: bold;
	color: red;
	margin-right: 10px;
	
	font-size: 20px
}

.main .main-right .content .retail-total > div input {
	border:1px solid #ccc;
	border-radius: 2px;
	height: 30px;
}


.main .main-right .content .retail-total > div button {
	background-color: #2d6da3;
	color: #fff;
	border:1px solid  #2d6da3;
	padding:10px 15px;
	border-radius:2px;
}



/*-------------------------------------------------------------------------------------------------------------------------*/

/* 模态框 */
.model {
	display: none;
}
.model .mask {
	
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	top:0;
	left: 0;
	background: #000;
}

.model ul {
	position: absolute;
	top:100px;
	height: 322px;
	width: 320px;
	background: #fff;
	border:1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	left:50%;
	top:250px;
	margin-left:-160px;  /*设置为宽度的一半*/
	margin-top:-161px;   /*设置为高度的一半*/
	overflow: auto;
	padding-top: 20px;

}


.model ul li {
	text-align: center;
	display: flex;
	justify-content:space-between;
	padding: 15px 20px;
}

.model ul li:first-child span{
	color:red;
}
.model ul li span {
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
}



.model ul li .bmjl {
	top:74px;
}
.model ul li .sjbm {
	bottom: 82px;
}
.model ul li input {
	height: 28px;
	width: 180px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 5px;
}

.model ul li input:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	outline: 0 none;
}

.model ul .btn {
	margin-top:10px;
}
.model ul li button {
	border:1px solid #ccc;
	border-radius: 5px;
	/* background-color: #337ab7; */
	color: #fff;
	padding:5px 15px;
	cursor: pointer;
	background: -webkit-linear-gradient(rgb(112,205,239), rgb(11,135,186)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(112,205,239), rgb(11,135,186)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(112,205,239), rgb(11,135,186)); /*  Firefox 3.6 - 15 */
    background: linear-gradient(rgb(112,205,239), rgb(11,135,186)); /* 标准的语法（必须放在最后） */

}



/* 登录 */
.logo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 40%;
	margin:0 auto;
	background-color: #fff;
}

.logo h1 {
	text-align: center;
	font-size: 60px;
	line-height: 50px;
	color: #888;
	font-weight: bold;
	text-shadow: 2px 2px 4px #ccc;

}
.logo form label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	line-height: 30px;
	margin-top: 15px;
}

.logo form input {
	border:1px solid #ccc;
	padding:0 12px;
	display: block;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	box-shadow:	rgba(0,​ 0,​ 0,​ 0.075) 0px 1px 1px 0px inset;
	font-size: 14px;

}
.logo form input:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	outline: 0 none;
}

.logo form .submit {
	margin-top: 15px;
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    width: 54px;
    cursor:pointer;
}





