{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}分类{% endblock head_title %}
{% block content %}

	{% include "search-goods.html" %}
	
	<!-- 分界线 -->
	<div class="line_gray"></div>
	<!-- 产品分类 -->
	<div class="tab_cate pos_rel clearfix">
		<div class="tab_head pos_abs bg-white">
			<ul id="f_category" class="tab_cate_hd txt-center f24">
				<li class="cur"><a href="#">热销产品</a></li>
				<li><a href="#">母婴用品</a></li>
				<li><a href="#">进口酒水</a></li>
				<li><a href="#">营养保健</a></li>
				<li><a href="#">母婴用品</a></li>
				<li><a href="#">进口酒水</a></li>
				<li><a href="#">营养保健</a></li>
				<li><a href="#">母婴用品</a></li>
				<li><a href="#">进口酒水</a></li>
				<li><a href="#">营养保健</a></li>
				<li><a href="#">母婴用品</a></li>
				<li><a href="#">进口酒水</a></li>
				<li><a href="#">营养保健</a></li>
				<li><a href="#">母婴用品</a></li>
				<li><a href="#">进口酒水</a></li>
				<li><a href="#">营养保健</a></li>
			</ul>
		</div>
		<div class="tab_cate_cont bg-gray-fa">
			<div class="tab_cate_bd mt10" style="display: block;">
				<h3 class="normal f18">热销产品</h3>
				<ul class="list_product txt-center clearfix">
					<li><a href="list_products.html"><img src="{% static "images/none/c-1.jpg" %}"><h5 class="normal">减肥健身</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-2.jpg" %}"><h5 class="normal">增强免疫</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-3.jpg" %}"><h5 class="normal">补气养血</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-4.jpg" %}"><h5 class="normal">美白祛斑</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-6.jpg" %}"><h5 class="normal">改善睡眠</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">营养保健</h5></a></li>
				</ul>
				<h3 class="normal f18">奶粉</h3>
				<ul class="list_product txt-center clearfix">
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">减肥健身</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-4.jpg" %}"><h5 class="normal">增强免疫</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">补气养血</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">美白祛斑</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">改善睡眠</h5></a></li>
					<li><a href="list_products.html"><img src="{% static "images/none/c-5.jpg" %}"><h5 class="normal">营养保健</h5></a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}

{% block js %}
	<script type="text/javascript">

	$(function(){
		setHeight();
	});

	$(window).resize(function(){
		setHeight();
	});

	function setHeight(){
		var h=$(window).outerHeight()-$('.search-fixed').height()-1-$('.foot').eq(0).outerHeight();
		$('.tab_head').css('height', h);
		$('.tab_cate_cont').css('height', h);

		if($('#f_category').height()>$('.tab_head').height()){
			$('#f_category').parent('.tab_head').addClass('over-scroll-y');
		}else{
			$('#f_category').parent('.tab_head').removeClass('over-scroll-y');
		}

		if($('.tab_cate_bd').height()>$('.tab_cate_cont').height()){
			$('.tab_cate_bd').parent('.tab_cate_cont').addClass('over-scroll-y');
		}else{
			$('.tab_cate_bd').parent('.tab_cate_cont').removeClass('over-scroll-y');
		}
	}

	</script>
	<style>
	body{ padding-top:0.92rem;}
	</style>
{% endblock js %}

