<!-- 创建损耗 -->
<div class="content">
<form action="#" class="purchase-order">
    <div class="order-title">
        <h2><strong>创建损耗</strong></h2>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">商品：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>
            <div>	
                <label for="number">数量：</label>
                <div class="group">
                <input type="text" id="number">
                </div>
            </div>
            <div>	
                <label for="warehouse">仓库：</label>
                <div class="group">
                <input type="text" id="warehouse">
                <i class="iconfont">&#xe696;</i>
                </div>
            </div>
            
        </div>
        <div class="right">
            <div>	
                <label for="date">日期：</label>
                <div class="group">
                <input type="text" id="date">
                </div>
            </div>
        </div>
    </div>
    <div class="order-bottom">
        <div></div>
        <input type="submit" value="提交">
    </div>
</form>
</div>