{% extends "wemall/base.html" %}
{% load staticfiles %}
{% block head_load_static %}
	<script type="text/javascript" src='{% static "mall/js/jquery.cookie.js" %}'></script>
{% endblock head_load_static %}
{% block head_title %}确认订单{% endblock head_title %}
{% block bodyclass %}bg-gray-f0{% endblock bodyclass %}

{% block content %}

	<!-- 顶部 -->
	<div class="head white pos_rel"><i class="iconfont f26">&#xe60b;</i><span class="f34">确认订单</span><a href="javascript:;" class="more pos_abs"><span class="nav_cir"></span><span class="nav_cir"></span><span class="nav_cir"></span></a></div>
	
	<ul class="address bg-white mt10 mb10">
		<li class="icon vertical_middle pl20 pr20"><i class="iconfont f48">&#xe602;</i></li>
		<li class="vertical_middle f18">
			<div>收件人：<span class="mr100">{{address.recipient}}</span>电话：<span>{{address.mobile}}</span>
			</div>
			<div>收货地址：<span>{% if address.is_default %}[默认]{% endif %}</span>{{address.province}}{{address.city}}{{address.county}}{{address.address}}</div>
		</li>
		<li class="more txt-right vertical_middle pr20"><a onclick="set_choose()" class="iconfont f26" href="{% url 'mall:view-address' %}" id="choseaddress">&#xe60f;</a></li>
	</ul>
	
	{% for goods in order.details %}
	<dl class="commodity bg-white mb10 pt20 pb20" id="0011">
		<dt class="full_img pl20 pr20"><a href="#"><img src="{{goods.gsav.imgurl}}"></a></dt>
		<dd class="vertical_middle pr20">
			<h4 class="normal f20"><a href="#" class="txt-nowrap">{{goods.gsav.name}}</a></h4>
			<p class="f18 gray_90 mt5">颜色：<span>蓝色</span></p>
			<div class="f30 mt10"><span class="red">￥<span class="price">{{goods.price}}</span></span><span class="fr">x{{goods.quantity}}</span></div>
		</dd>
	</dl>
	{% endfor %}
	<div class="txt-center f30 bg-white pt10 pb10">总价：<span class="red">￥{{order.mian.totalprice}}</span></div>
	<a href="{% url 'mall:create-order' %}" class="btn_pay m20 f30 white txt-center dis_block pt5 pb5">确认订单</a>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
<script>
	confirmTotalNum();
	function confirmTotalNum(){
		var str='';
		$('.commodity').each(function(){
			if(str==''){
				str=$(this).attr('id');
			}else{
				str=str+','+$(this).attr('id');
			}
		});
		$('#totalcartnumb').val(str);
	}
	function set_choose(){
		$.cookie('addressischoose','1',{'path':'/'});
	}
{#	$(function(){#}
{#		$('#choseaddress').bind('click', function() {#}
{#			$.cookie('ordermark',order_json,{'path':'/'});#}
{#		});#}
{#	}#}
</script>
{% endblock js %}