{% extends "wemall/base.html" %}
{% load staticfiles %}
{% block head_title %}新增地址{% endblock head_title %}
{% block content %}
	<!-- 顶部 -->
	<div class="head white pos_rel"><i class="iconfont f26">&#xe60b;</i><span class="f34">编辑地址</span><a href="javascript:;" class="more pos_abs"><span class="nav_cir"></span><span class="nav_cir"></span><span class="nav_cir"></span></a></div>
	<form name="add_address" action="{% url 'mall:edit-address' address.pk%}" method="post" target="_self" onSubmit="return docheck()" class="p20 f26 add_address">
		{% csrf_token %}
		<div class="pb10"><span class="tit vertical_middle">收货人</span><input type="text" name="recipient" value="{{address.recipient}}" class="text" onblur="if(this.value=='') this.value='姓名'"></div>
		<div class="line_gray pt20 pb10"><span class="tit vertical_middle">联系方式</span><input type="text" name="mobile" value="{{address.mobile}}" class="text" onblur="if(this.value=='') this.value='手机号'"></div>
		<div class="line_gray pt20 pb10">
			<span class="vertical_middle">省</span>
			<select id="s_province" name="province" class="select"></select>
			<span class="vertical_middle">市</span>
			<select id="s_city" name="city" class="select"></select>
			<span class="vertical_middle">区/县</span>
			<select id="s_county" name="county" class="select"></select>
		</div>
		<div class="line_gray pt20 pb10"><span class="tit vertical_middle">详细地址</span><input type="text" name="address" value="{{address.address}}" class="text" onblur="if(this.value=='') this.value='街道门牌信息'"></div>
		<div class="f20 pb25 line_gray pt20"><span class="mr10 radio f18 vertical_middle">{% if address.is_default %}●{% endif %}</span>设为默认地址</div>
		<input type="hidden" value="false" name="is_default" id="is_default">
		<input type="hidden" value="{{request.user.pk}}" name="user">
		<input type="submit" value="确认" class="btn_pay_input f30 white mt20">
	</form>
	<script src="{% static "mall/js/area.js" %}"></script>
	<script type="text/javascript">
		var opt0 = ["{{address.province}}","{{address.city}}","{{address.county}}"];//初始值
		_init_area();//三级联动地址
		
		$(function(){
			$('.radio').bind('click',function(){
				if($(this).html()==''){
					$(this).html('●');
					$('#is_default').val(true);
				}else{
					$(this).html('');
					$('#is_default').val(false);
				}
			});
		});
	
	  function docheck() {
	    if (add_address.recipient.value == "姓名") {
	      alert("请填写收货人姓名");
	      return false;
	    } else if (add_address.mobile.value == "手机号") {
	      alert("请填写收货人手机号码");
	      return false;
	    } else if(!chkMobile(add_address.mobile.value)){
	      alert("请填写正确的手机号码");
	      return false;
	    }else if(add_address.province.value == "-- 选择 --"){
	    	alert("请选择所在省份");
	    	return false;
	    }else if(add_address.city.value == "-- 选择 --"){
	    	alert("请选择所在市");
	    	return false;
	    }else if(add_address.county.value == "-- 选择 --"){
	    	alert("请选择所在区/县");
	    	return false;
	    }else if (add_address.address.value == "街道门牌信息") {
	      alert("请填写详细的收货地址");
	      return false;
	    } else {
	      return true;
	    }
	  }
	</script>
{% endblock content %}