<!-- 创建商品 -->
<form action="#" class="purchase-order">
    <div class="order-title">
        <img src="/app/static/img/mr.png" alt="">
        <a href="">上传图像</a>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">名称：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="unit">单位：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="specification">规格：</label>
                <div class="group">
                <input type="text" id="specification">
                </div>

            </div>

            <div>
                <label for="number">编号：</label>
                <div class="group">
                    <input type="text" id="number">
                    <i class="iconfont">&#xe696;</i>
                </div>
                
            </div>

            <div>
                <label for="cost">成本：</label>
                <div class="group">
                    <input type="text" id="cost">
                    <i class="iconfont">&#xe696;</i>
                </div>
            </div>

            <div>
                <label for="price">售价：</label>	
                <div class="group">
                    <input type="text" id="price">
                    <i class="iconfont">&#xe696;</i>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="group address">
                <label>产地：</label>
                <input type="text" placeholder="城市">
                <input type="text" placeholder="省份">
                
            </div>
            <span class="detail">详细地址：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    
    <div class="order-bottom">
        <div></div>
        <input type="submit" value="提交">
    </div>
</form>