<!-- 供应商列表 -->
<div class="content">
<table >
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>姓名</th>
            <th>手机号码</th>
            <th>邮件</th>
            <th>地址</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>二毛</td>
            <td>12512458951</td>
            <td>4465@126.com</td>
            <td>啊斯拉夫囧叫阿三</td>
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>二毛</td>
            <td>12512458951</td>
            <td>4465@126.com</td>
            <td>啊斯拉夫囧叫阿三</td>
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>二毛</td>
            <td>12512458951</td>
            <td>4465@126.com</td>
            <td>啊斯拉夫囧叫阿三</td>
        </tr> 
    </tbody>
    
</table>
</div>