<!-- 损耗列表 -->
<div class="content">
<table>
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>日期</th>
            <th>商品</th>	
            <th>损耗</th>
            <th>仓库</th>						
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>2016-10-30</td>
            <td>圣诞树</td>
            <td>50%</td>
            <td>仓库1</td>				
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>2016-10-30</td>
            <td>圣诞树</td>
            <td>50%</td>
            <td>仓库1</td>				
        </tr>
        
    </tbody>
    
</table>
</div>