<!-- 其他费用录入 -->
<form action="#" class="purchase-order">
    <div class="order-title">
        <h3><strong>其他录入</strong></h3>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">经手人：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>
            <div>	
                <label for="price">花费金额：</label>
                <div class="group">
                <input type="text" id="price">
                
                </div>
            </div>

            <div>
                <label for="date">发放日期：</label>
                <div class="group">
                <input type="text" id="date">
                </div>
            </div>		
        </div>
        <div class="right">
            <div class="textarea">
                <label for="useremark">用途备注：</label>
                <div class="group">
                <textarea name="useremark" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            
        </div>
    </div>
    <div class="order-bottom">
        <div></div>
        <input type="submit" value="提交">
    </div>
</form>