<!--创建销售单 -->
<div class="content">
<form action="#" class="create purchase-order" >
    <div class="order-title">
        <strong>销售单</strong>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="buyunit">购买单位：</label>
                <div class="group">
                    海南师范大学
                </div>
            </div>

        
            <div>
                <label for="purchaser">经手人：</label>
                <div class="group">
                    刘速度
                </div>
            </div>
            <div>
                <label for="fwarehouse">发货仓库：</label>
                <div class="group">
                    仓库1
                </div>
            </div>
            <div>
                <label for="orderdate">日期：</label>
                <div class="group">
                    2016-10-30
                </div>
            </div>
        </div>
        <div class="right">	
            <div>
                <label for="remarks">备注：</label>
                <div class="group">
                    抵抗警方很快
                </div>
            </div>
        </div>
    </div>
    <div class="goods-list">
        <table>
            <thead>
                <tr>
                    <th>商品</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>售价</th>
                    <th>总价</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>				
                    <td>阿莫西林</td>
                    <td>0.25ml*20</td>
                    <td>1000</td>
                    <td>2</td>
                    <td>2000</td>
                    
                </tr>
                <tr>				
                    <td>阿莫西林</td>
                    <td>0.25ml*20</td>
                    <td>1000</td>
                    <td>2</td>
                    <td>2000</td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>

    <div class="order-bottom">				
        <div></div>					
        <table>
            <tbody>
                
                <tr>

                    <td><strong>销售总额：</strong></td>
                    <td><span>4000.00</span></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</form>
</div>