
<!-- 创建供应商 -->
<form action="#" class="newperson" style="display:block">
    <div class="up">
        <h1>供应商</h1>
    </div>
    <div class="down">
        <div class="left">
            <div>	
                <label for="name">姓名：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="phone" class="phone">手机号码：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="email">邮箱：</label>
                <div class="group">
                <input type="email" id="email">
                </div>
            </div>

        </div>
        <div class="right">
            <span>地址：</span>
            <input type="text" placeholder="城市">
            <div class="group">
                <input type="text" placeholder="省份">
                <i class="iconfont">&#xe696;</i>
            </div>
            <span class="detail">详细地址：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="bottom">
        <input type="submit" value="提交">
    </div>
</form>