<!-- 创建供应商 -->
<div class="content">
<form action="#" class="purchase-order">
    <div class="order-title">
        <h1>供应商</h1>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">姓名：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="phone" class="phone">手机号码：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            <div>
                <label for="email">邮箱：</label>
                <div class="group">
                <input type="email" id="email">
                </div>
            </div>

        </div>
        <div class="right">
            <div class="group address">
                <label>地址：</label>
                <input type="text" placeholder="城市">
                <input type="text" placeholder="省份">
                
            </div>
            <span class="detail">详细地址：</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="order-bottom">
        <div></div>
        <input type="submit" value="提交">
    </div>
</form>
</div>