<ul>
    <li class="typeli">
        <img src="/app/static/img/xsb.png" alt="">
        <h3>销售部<span>（无上级部门）</span></h3>
        <p>人数：330</p>
        <span class="Dmanager">郭靖</span>
        <div class="bottom">
            <a href="#" class="edit">编辑</a>
            <a href="">员工详情</a>
        </div>
    </li>
    <li class="typeli">
        <img src="/app/static/img/cgb.png" alt="">
        <h3>采购部<span>（财务部）</span></h3>
        <p>人数：330</p>
        <span class="Dmanager">孙红雷</span>
        <div class="bottom">
            <a href="#" class="edit">编辑</a>
            <a href="">员工详情</a>
        </div>
    </li>
    <li class="typeli">
        <img src="/app/static/img/rlzyb.png" alt="">
        <h3>人力资源部<span>（无上级部门）</span></h3>
        <p>人数：330</p>
        <span class="Dmanager">邓超</span>
        <div class="bottom">
            <a href="#" class="edit">编辑</a>
            <a href="">员工详情</a>
        </div>
    </li>
    <li class="typeli">
        <img src="/app/static/img/cwb.png" alt="">
        <h3>财务部<span>（无上级部门）</span></h3>
        <p>人数：330</p>
        <span class="Dmanager">黄晓明</span>
        <div class="bottom">
            <a href="#" class="edit">编辑</a>
            <a href="">员工详情</a>
        </div>
    </li>		
    <li class="typeli">
        <img src="/app/static/img/jsb.png" alt="">
        <h3>技术部<span>（无上级部门）</span></h3>
        <p>人数：330</p>
        <span class="Dmanager">习近平</span>
        <div class="bottom">
            <a href="#" class="edit">编辑</a>
            <a href="">员工详情</a>
        </div>
    </li>

    <!-- 布局需要，不要删掉，也不要添加数据 -->
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>
    <li class="look"></li>				
</ul>