<!-- 工资录入 -->
<form action="#" class="purchase-order">
    <div class="order-title">
        <strong>工资录入</strong>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">姓名：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>
            <div>	
                <label for="office">职位：</label>
                <div class="group">
                <input type="text" id="office">
                <i class="iconfont">&#xe696;</i>
                </div>
            </div>


            <div>
                <label for="phone">手机号码：</label>
                <div class="group">
                <input type="text" id="name">
                </div>
            </div>

            
        </div>
        <div class="right">
            <div>
                <label for="wage">工资：</label>
                <div class="group">
                <input type="text" id="wage">
                </div>
            </div>
            <div>
                <label for="date">发放日期：</label>
                <div class="group">
                <input type="text" id="date">
                </div>
            </div>
        </div>
    </div>
    <div class="order-bottom">
        <div></div>
        <input type="submit" value="提交">
    </div>
</form>