
{% extends "directsales/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="glyphicon glyphicon-music"></i>
					</span>
					恭喜你，修改密码成功
				</h1>
				<hr />
				<h3 class="lighter smaller">
					请牢记您的密码，避免遗忘
				</h3>

				<div class="space"></div>

				<div>
					<h4 class="lighter smaller">温馨提示:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="ace-icon fa fa-hand-o-right blue"></i>
							修改密码后，请注销重新登录
						</li>

						<li>
							<i class="ace-icon fa fa-hand-o-right blue"></i>
							如有疑问，请联系<a href="#">管理员</a>
						</li>
					</ul>
				</div>

				<hr />
				<div class="space"></div>

				<div class="center">
					<a href="{% url 'directsale:logout' %}" class="btn btn-grey">
						<i class="ace-icon fa fa-arrow-left"></i>
						重新登录
					</a>
				</div>
	</div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}