
{% extends "directsales/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="fa fa-check "></i>
						订购产品成功
					</span>
				</h1>
				<hr />
				<h3 class="lighter smaller">
					您订购的单号为:{{order.ordercode}}
				</h3>

				<div class="space"></div>

				<div>
					<h4 class="lighter smaller">温馨提示:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="ace-icon fa fa-hand-o-right blue"></i>
							请确认以下收货信息是否正确，收货人：{{order.ship_recipient}},联系电话：{{order.ship_mobile}}，收货地址：{{order.ship_address}}
							如不正确，请尽快联系<a href="{% url "directsale:send_mail" %}">管理员</a>更改
						</li>
						<li>
							<i class="ace-icon fa fa-hand-o-right blue"></i>
							商品将在12小时内配送。
						</li>
					</ul>
				</div>

				<hr />
				<div class="space"></div>

				<div class="center">
					<a href="javascript:history.back()" class="btn btn-grey">
						<i class="ace-icon fa fa-arrow-left"></i>
						返回上一页
					</a>
					<a href="{% url "directsale:view-home" %}" class="btn btn-primary">
						<i class="ace-icon fa fa-tachometer"></i>
						返回首页
					</a>
				</div>
	</div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}