<!-- 商品详情 -->
<div action="#" class="newperson" style="display:block">
    <div class="up">
        <img src="img/mr.png" alt="">
    </div>
    <div class="down">
        <div class="left">
            <div>	
                <label>名称：</label>
                <div class="group">
                阿莫西林
                </div>
            </div>

            <div>
                <label>单位</label>
                <div class="group">
                阿莫公司
                </div>
            </div>
            <div>
                <label>规格</label>
                <div class="group">
                0.125g*50
                </div>
            </div>
            <div>
                <label>编号：</label>
                <div class="group">
                上传201000
                </div>

            </div>

            <div>
                <label>成本：</label>
                <div class="group">
                    1.0
                </div>
                
            </div>

            <div>
                <label>售价：</label>
                <div class="group">
                    1000
                </div>
            </div>   
        </div>
        <div class="right">
            <span>产地：</span>
            海口市
            <div class="group">
                海南省
            </div>
            <span class="detail">详细地址：</span>
            <p>
                啊顺利打开立刻就飞哦了解哦临时搭建
            </p>
        </div>
    </div>
    <div class="bottom">
        <a href="#">编辑</a>
    </div>
</div>
