/* 登录 */
.logo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 40%;
	margin:0 auto;
	background-color: #fff;
}

.logo h1 {
	text-align: center;
	font-size: 60px;
	line-height: 50px;
	color: #888;
	font-weight: bold;
	text-shadow: 2px 2px 4px #ccc;

}
.logo form label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	line-height: 30px;
	margin-top: 15px;
}

.logo form input {
	border:1px solid #ccc;
	padding:0 12px;
	display: block;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	box-shadow:	rgba(0,​ 0,​ 0,​ 0.075) 0px 1px 1px 0px inset;
	font-size: 14px;

}
.logo form input:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	outline: 0 none;
}

.logo form .submit {
	margin-top: 15px;
	background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    width: 54px;
    cursor:pointer;
}
