<!-- 用户列表 -->
<div class="content">
<table>
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>用户名</th>						
            <th>密码</th>
            <th>手机号码</th>
            <th>邮箱</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>luke</td>
            <td>luke123456</td>
            <td>13526598451</td>
            <td>luke@126.com</td>
            
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>luke</td>
            <td>luke123456</td>
            <td>13526598451</td>
            <td>luke@126.com</td>
            
        </tr>
        
    </tbody>
    
</table>
</div>