<!-- 客户详情 -->
<div class="content">
<div class="purchase-order" >
    <div class="order-title">
        <img src="/assets/img/mr.png" alt="">
        <a href="">上传头像</a>
    </div>
    <div class="order-form">
        <div class="left">
            <div>	
                <label for="name">姓名：</label>
                <p>
                阿斯顿
                </p>
            </div>
            <div>	
                <label for="unit">单位：</label>
                <p>
                阿斯顿公司
                </p>
            </div>


            <div>
                <label for="phone" class="phone">手机号码：</label>
                <p>
                17865326541
                </p>
            </div>

            <div>
                <label for="email">邮箱：</label>
                <p>
                1141564@126.com
                </p>

            </div>

            <div>
                <label for="remarks">备注：</label>
                <p>
                无备注
                </p>

            </div>
        </div>
        <div class="right">
            <span>地址：</span>
            <span style="font-weight:400;">海口市\海南省</span>		
            <span class="detail">详细地址：</span>
            <p>
                啊顺利打开立刻就飞哦了解哦临时搭建啊撒大大大大啊顺利打开立刻就飞哦了解哦临时搭建啊撒大大大大
            </p>
        </div>
    </div>
    <div class="order-bottom">
        
    </div>
</div>
</div>