<!-- 销售单列表 -->
<div class="content">
<table >
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>单号</th>
            <th>金额</th>	
            <th>经手人</th>
            <th>发货仓库</th>
                                
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>sc316564233</td>
            <td>12312</td>
            <td>阿斯顿</td>
            <td>仓库1</td>				
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>sc316564233</td>
            <td>12312</td>
            <td>阿斯顿</td>
            <td>仓库1</td>				
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>sc316564233</td>
            <td>12312</td>
            <td>阿斯顿</td>
            <td>仓库1</td>				
        </tr>
        
        
    </tbody>
</table>
</div>