{% extends "directsales/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>修改支付密码</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                  <form role="form" action="{% url "directsale:changepaypassword" %}" method="post" onSubmit="return docheck()">
                  {% csrf_token %}
                    <div class="col-lg-6">
                    	<div class="form-group">
                            <label>账户名称</label>
                            <input class="form-control" value="{{request.user.username}}" disabled>
                        </div>
                        <div class="form-group">
                            <label>原支付密码</label>
                            <input class="form-control" type="password" placeholder="原支付密码" id="oldpaypwd" name="oldpaypwd">
                        </div>
                        <div class="form-group">
                            <label>新支付密码</label>
                            <input class="form-control" type="password" placeholder="新支付密码" id="newpaypwd" name="newpaypwd">
                        </div>
                        <div class="form-group">
                            <label>重复密码</label>
                            <input class="form-control" type="password" placeholder="重复输入密码" id="cfnewpaypwd">
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" disabled id="changepwd" value="提交修改"/>
                    </div>
                    </form>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}

{% block js %}
<script>
    function chkpwd() {
        $.post("{% url "directsale:chkpaypwd" %}",{"oldpaypwd":$('#oldpaypwd').val()},function(data){
            if(data.result){
                $('#oldpaypwd').parent().attr('class',"form-group has-success");
                $('#changepwd').removeAttr('disabled');
            } else {
                $('#oldpaypwd').parent().attr('class',"form-group has-error");
            }
        },"json");
    }
    
    $('#oldpaypwd').bind('input propertychange',function(){
        chkpwd();
    });
    
    
    function docheck() {
        if($('#oldpaypwd').val()=='') {
            $('#oldpaypwd').parent().attr('class',"form-group has-error");
            $('#oldpaypwd').focus();
            alert('原支付密码不能为空');
            return false;
        } else if ($('#newpaypwd')==""){
            $('#newpaypwd').parent().attr('class',"form-group has-error");
            $('#newpaypwd').focus();
            alert('新支付密码不能为空');
            return false;
        } if($('#cfnewpaypwd').val()!=$('#newpaypwd').val()) {
            $('#cfnewpaypwd').parent().attr('class',"form-group has-error");
            alert('两次输入密码不同，请重新输入');
            $('#cfnewpaypwd').focus();
            return false;
        }else {
            return true;
        }
    }
</script>
{% endblock js %}
