{% extends "directsales/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>修改密码</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                  <form role="form" action="{% url "directsale:changepassword" %}" method="post" onSubmit="return docheck()">
                  {% csrf_token %}
                    <div class="col-lg-6">
                    	<div class="form-group">
                            <label>账户名称</label>
                            <input class="form-control" value="{{request.user.username}}" disabled>
                        </div>
                        <div class="form-group">
                            <label>原来密码</label>
                            <input class="form-control" type="password" placeholder="原密码" id="oldpwd" name="oldpwd">
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input class="form-control" type="password" placeholder="新密码" id="newpwd" name="newpwd">
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" disabled id="changepwd" value="提交修改"/>
                    </div>
                    </form>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}

{% block js %}
<script>
    function chkpwd() {
        $.post("{% url "directsale:chkpwd" %}",{"password":$('#oldpwd').val()},function(data){
            if(data.result){
                $('#oldpwd').parent().attr('class',"form-group has-success");
                $('#changepwd').removeAttr('disabled');
            } else {
                $('#oldpwd').parent().attr('class',"form-group has-error");
            }
        },"json");
    }
    
    $('#oldpwd').bind('input propertychange',function(){
        chkpwd();
    });
    
    
    function docheck() {
        if($('#newpwd').val()=='') {
            $('#newpwd').parent().attr('class',"form-group has-error");
            $('#newpwd').focus();
            alert('密码不能为空');
            return false;
        } else {
            return true;
        }
    }
</script>
{% endblock js %}
