<!-- Modal -->
<div class="modal fade " id="confirmpayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请输入支付密码</h4>
      </div>
      <div class="modal-body">
        <label>支付密码:</label>
        <input type="password" id="confirmpaypwd" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="密码错误">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmpay">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>