{% extends "directsales/base.html" %}
{% load staticfiles %}
{% block head_load_static %}
	<!-- DataTables CSS -->
    <link href="{% static "directsales/sbadmin/vendor/datatables-plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="{% static "directsales/sbadmin/vendor/datatables-responsive/dataTables.responsive.css" %}" rel="stylesheet">
    <style>
        .panel-body {
		    padding: 0px;
		}
    </style>
{% endblock head_load_static %}
{% block content %}
<div style="height:10px"></div>
<!-- /.panel-heading -->
<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
        <li class="active">
          <a href="#wh-pills" data-toggle="tab">提现记录</a>
        </li>
    </ul>
			
        <div class="tab-pane fade in active" id="wh-pills">
        <div style="height:22px"></div>
            <!-- /.panel-heading -->
			<div class="panel-body">
			    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-withdrawal">
			        <thead>
			            <tr>
			                <th>编号</th>
			                <th>提现金额</th>
			                <th>税额</th>
			                <th>提现手续费</th>
			                <th>实际到帐</th>
			                <th>提现状态</th>
			                <th>到帐银行</th>
			                <th>到帐时间</th>
			                <th>提现时间</th>
			            </tr>
			        </thead>
			        <tbody>
			            {% for wh in withdrawal_history %}
			            <tr class="gradeA">
			                <td>{{wh.pk}}</td>
			                <td>{{wh.price | floatformat:"2" }}</td>
			                <td>{{wh.tax | floatformat:"2" }}</td>
			                <td>{{wh.fee | floatformat:"2"}}</td>
			                <td style="color:red">{{wh.real_price | floatformat:"2" }}</td>
			                <th>{% if wh.into_account %}已到帐 {% else %}未到帐 {% endif %}</th>
			                <th>{{wh.bank}}{{wh.bank_account}}</th>
			                <th>{% if wh.into_account %}{{wh.updated}} {% else %}---{% endif %}</th>
			                <td>{{wh.joined | date:"Y-n-d H:i:s"}}</td>
			            </tr>
			            {% endfor %}
			        </tbody>
			    </table>
			</div>
			<!-- /.panel-body -->
			
        </div>
    </div>
</div>
<!-- /.panel-body -->
{% endblock content %}
{% block js %}
<!-- DataTables JavaScript -->
<script src="{% static "directsales/sbadmin/vendor/datatables/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "directsales/sbadmin/vendor/datatables-plugins/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "directsales/sbadmin/vendor/datatables-responsive/dataTables.responsive.js" %}"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
function initTable(idstr) {
   return $('#'+idstr).dataTable( {
       responsive: true,
    "oLanguage":{
        "sLengthMenu": "每页 _MENU_ 条记录",
        "oPaginate": {
            "sFirst":"第一页",
            "sLast":"最末页",
            "sNext":"下一页",
            "sPrevious":"上一页",
        },
        "sInfo":"共_TOTAL_条记录",
        "sInfoEmpty": "找不到符合关键词的记录",
        "sZeroRecords": "找不到符合关键词的记录",
        "sInfoFiltered":"总记录数:_MAX_",
        "sSearch":"搜索(输入关键词)","sEmptyTable":"找不到相关记录"
        }
   });
}

$(document).ready(function() {
    initTable('dataTables-withdrawal');
    
});
</script>
{% endblock js %}