<!-- 商品列表 -->
<table>
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>名称</th>
            <th>编号</th>
            <th>规格</th>
            <th>单位</th>
            <th>进价</th>
            <th>售价</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>阿莫西林</td>
            <td>sc1000001</td>
            <td>0.125g*50</td>
            <td></td>
            <td>1</td>
            <td>100</td>	
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>阿莫西林</td>
            <td>sc1000001</td>
            <td>0.125g*50</td>
            <td></td>
            <td>1</td>
            <td>100</td>	
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>阿莫西林</td>
            <td>sc1000001</td>
            <td>0.125g*50</td>
            <td></td>
            <td>1</td>
            <td>100</td>	
        </tr>
        <tr>
            <th><input name="radiogroup" type="checkbox"></th>
            <td>阿莫西林</td>
            <td>sc1000001</td>
            <td>0.125g*50</td>
            <td></td>
            <td>1</td>
            <td>100</td>	
        </tr>

        
    </tbody>
    
</table>