<!-- 人员列表 -->
<div class="content">
    <!-- 人员列表 -->
    <table>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>工号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>部门</th>
                <th>职位</th>
                <th>部门经理</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink='/personnel/staff/detail'>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
            <tr>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
            <tr>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
            <tr>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
            <tr>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
            <tr>
                <th><input name="radiogroup" type="checkbox"></th>
                <td>201424</td>
                <td>邓超</td>
                <td>13526598451</td>
                <td>dengchao@126.com</td>
                <td>销售部</td>
                <td>跑腿</td>
                <td>杨洋</td>
            </tr>
        </tbody>
        
    </table>
</div>